/* .Service {
    width: 75%;
    margin: 20px auto;
    /*text-align: center;*/
    /*align-items: center;*/
/* } */ 

/*.Service  {*/
/*    display: flex;*/
/*    flex-flow: wrap;*/
/*    width: 100%;*/
/*    !*padding: 10px;*!*/
/*    justify-content: space-between;*/
/*    margin: 40px auto;*/
/*    text-align: center;*/
/*    align-items: center;*/
/*}*/

/*.Service p {*/
/*    !*text-align: l;*!*/
/*    color: #333333;*/
/*    font-weight: 700;*/
/*    font-size: 1.25em;*/
/*}*/

