.SideDrawer {
    position: fixed;
    background-color: #232C3D;
    width: 400px;
    max-width: 70%;
    left: 0;
    top: 0;
    z-index: 200;
    /*bigger than toolbar */
    height: 100%;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    opacity: 0.95;
}

@media (min-width: 500) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateY(0);

}

.Close {
    transform: translateX(-100%);
}

.MenuBurger {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
}

.MenuBurger a {
    padding: 5px 14px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    line-height: 2em;
    text-decoration: none;
    letter-spacing: 0.04em;
    color: white;
    font-weight: 700;
    font-size: 15px;
}